title{
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 900;
}
body{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}